@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100;400;500;600&display=swap');


body {
	font-family: 'Roboto', sans-serif;
	color: rgba(0, 0, 0, 0.8);
	background: linear-gradient(
		36deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(2, 31, 42, 1) 48%
	);
	font-size: 20px;
}

.App {
	height: 100vh;
	text-align: center;
}
